{% extends 'base.html.twig' %}

{% block title %}Index - Tickets{% endblock %}

{% block body %}
    <h1 class="text-center">Index - Tickets</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="card mt-4">
        <div class="card-header">
            <div class="d-flex">
                <span class="mr-auto">Tickets list</span>
                <a href="{{ path('app_tickets_add') }}" class="btn btn-primary btn-sm">Add</a>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table m-0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.description }}</td>
                        <td class="text-right">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a href="{{ path('app_tickets_send', {'id' : ticket.id }) }}" class="btn btn-success "><i class="bi bi-cloud-arrow-up"></i></a>
                                <a href="{{ path('app_tickets_edit', {'id' : ticket.id }) }}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>

                                {{ include('tickets/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
